.bortnik { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:600px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
    padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.lanzerotti { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:825px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.gerrard { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:1150px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.keika { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:500px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.lee { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:350px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.li { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:385px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.min { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:450px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}


.urban { /*CHANGED FROM INDEX PAGE*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	background-color: #000000;
	width: 498px;
	height:650px;
	float: right;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}